.d-block {
  display: block !important;
  width: 100% !important;
}

.d-inline-block {
  display: inline-block !important;
  width: auto !important;
}

$primary: blue;
$secondary: gray;
$success: green;
$info: lightblue;
$warn: yellow;
$danger: red;
$white: #fff;
$dark: #000;

$btnColors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warn': $warn,
  'danger': $danger,
  'white': $white,
  'dark': $dark,
);

@mixin btnColor {
  @each $type, $color in $btnColors {
    .btn-#{$type} {
      background-color: $color;
    }
  }
}

@include btnColor();
